html {
    box-sizing: border-box;
}

.navbar-default .navbar-brand {
      color: black;
      font-size: 35px;
      font-weight: bold;
  }

  .container-fluid {
      padding: 10px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

.navbar-header .centerHeader {
  display: flex;
  align-items: center;
}

/*.centerHeader {
  position: relative;
  right: 13%
}

.searchBar {
  position: relative;
  left: 13%
}*/

.searchBar img {
height: 35px;
}

.jumbotron {
    position: relative;
    /*top: -20px;*/
    height: 109vh;
    text-align: center;
    background-image: url(../imgs/world.png);
    background-size: cover;
    /*display: flex;
  justify-content: center;*/
}

.worldMap {

}

/*.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}*/

.closebtn {
    margin-left: 15px;
    font-weight: bold;
    /*float: right;*/
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.alert {
    padding: 15px 15px 15px 35px;
    text-align: center;
}

ul {
  list-style: none;
}
